/directcollections/.classpath
/directcollections/.project
/directcollections/.settings/org.eclipse.core.resources.prefs
/directcollections/.settings/org.eclipse.jdt.core.prefs
/directcollections/.settings/org.eclipse.m2e.core.prefs
/directcollections-tests/target/classes/META-INF/maven/com.thisismartin.directcollections/directcollections-tests/pom.properties
/directcollections-tests/target/classes/META-INF/maven/com.thisismartin.directcollections/directcollections-tests/pom.xml
/directcollections-tests/target/directcollections-tests-0.0.1-SNAPSHOT.jar
/directcollections-tests/target/maven-archiver/pom.properties
/directcollections-tests/target/test-classes/com/thisismartin/directcollections/DirectMemoryListFunctionalityTests.class
/directcollections-tests/target/test-classes/com/thisismartin/directcollections/DirectMemoryListWiderTests.class
/directcollections-tests/target/test-classes/com/thisismartin/directcollections/helpers/TestPOJO.class
/directcollections-tests/target/test-classes/com/thisismartin/directcollections/serializer/KryoSerializer.class
/directcollections-tests/target/test-classes/com/thisismartin/directcollections/serializer/UUIDSerializer.class
/directcollections-tests/target/classes/META-INF/MANIFEST.MF
/directcollections-tests/.settings/org.eclipse.m2e.core.prefs
/directcollections-tests/.settings/org.eclipse.jdt.core.prefs
/directcollections-tests/.settings/org.eclipse.core.resources.prefs
/directcollections-tests/.project
/directcollections-tests/.classpath
/.classpath
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
